body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	background-image: url("../IMG/Lr8_BG1.jpg");
	background-size: cover;
}

.game_field {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50px;
	width: 60%;
	background-color: rgba(151, 148, 129, 0.849);
}

.slot_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 250px;
	margin-top: 10px;
}

.slot {
	width: 15%;
	text-align: center;
	font-size: 50px;
	height: 29%;
}

.stat_container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 30%;
}

.stat_stat_container{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.heart_container{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.name_container{
	display: flex; 
    justify-content: center; 
    align-items: center; 
	background-image: url("../IMG/Name_Field.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 100%;
	color: white; 
    font-size: 20px;
	padding-top: 7px;
}

.heart_container > img{
	width: 55px;
}

#spin {
	background-color: rgb(168, 32, 32);
	border: 2px solid gold;
	color: gold;
	width: 15;
	border-radius: 20px;
	font-size: 25px;
	padding: 10px 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    align-items: center;
	flex-direction: column;
    justify-content: center;
}

#overImg{
	height: 400px;
}

#overlayContent {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

#slotPlayer{
	background-image: url("../IMG/GAMBA_LEFT.png");
	background-size: cover;
	background-position: center;
	padding-left: 35px;
	margin-left: -40px;
}

#slotCPU{
	background-image: url("../IMG/GAMBA_RIGHT.png");
	background-size: cover;
	background-position: center;
	padding-right: 35px;
	margin-right: -40px;
}

#playerRes, #cpuRes{
	background-image: url("../IMG/text_frame.png");
	background-size: cover;
	background-position: center;
	text-align: center;
	width: 40%;
	line-height: 40px;
	color: white;
	margin-top: 10px;
}

#verdict{
	background-color: rgb(168, 32, 32);
	border: 2px solid gold;
	width: 20%;
	line-height: 50px;
	text-align: center;
	color: gold;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease forwards;
}
